{% extends "blogs/base.html" %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white">Home Page</h3>
    <div class="card jumbo_color" style="width: 18rem;">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          <h5 class="card-title"><b>This is news title</b></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</div>










{% endblock content %}